<div class="my-5">
    <h1 class="text-center">로그인</h1>
    <div class="row">
        <div class="col-6 col-md col-lg-4" >
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">로그인</h3>
                </div>
                <div class="card-body">
                    <form name="frm">
                        <input value="92414029" name="scode" class="form-control mb-2" placeholder="학생번호">
                        <input value="1234" name="pass" class="form-control mb-2" placeholder="비밀번호" type="password">
                        <button type="submit" class="btn btn-primary w-100">로그인</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(frm).on("submit",function(e){
        e.preventDefault();
        const scode=$(frm.scode).val();
        const pass=$(frm.pass).val();
        if(scode=="" || pass==""){
            alert("학번이나 비밀번호를 입력하세요!");
            $(frm.pass).focus();
        }else{
            $.ajax({
                type:"post",
                url:"/users/login",
                data:{scode,pass},
                success:function(data){
                    console.log(data);
                    if(!data){
                        alert("해당 학번이 존재하지 않습니다");
                    }else if(pass!=data.PASS){
                        alert("비밀번호가 일치하지 않습니다.");
                    }else{
                        //로그인성공
                        //alert("성공")
                        sessionStorage.setItem("scode", scode);
                        sessionStorage.setItem("sname", data.SNAME);
                        location.href="/";
                    }
                }
            })
        }
    })
</script>