<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/haksa/pro">교수관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/haksa/stu">학생관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/haksa/cou">강좌관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">게시글</a>
                </li>
            </ul>
            <ul class="navbar-nav login">
                <li class="nav-item">
                    <a class="nav-link active" href="/users/login">로그인</a>
                </li>
            </ul>
             <ul class="navbar-nav logout">
                <li class="nav-item">
                    <a class="nav-link sname active" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link logout active" href="#">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    const scode=sessionStorage.getItem("scode");
    const sname=sessionStorage.getItem("sname");
    if(!scode){
        $(".login").show();
        $(".logout").hide();
    }else{
        $(".login").hide();
        $(".logout").show();
        $(".logout .scode").html(`${sname}(${scode})`);
    }

    $(".logout").on("click","a",function(e){
        e.preventDefault();
        if(confirm("정말로 로그아웃하실래요?")){
            sessionStorage.clear();
            location.href="/";
        }
    })
/*
    $(document).ready(function(){
        const pathname=window.location.pathname;
        const path=pathname.split('/').slice(0, 3).join('/');
        $(".nav-link").removeClass('active');
        $(`.nav-link[href='${path}']`).addClass('active');
    });*/
</script>