<div class="my-5">
    <h1 class="text-center mb-5">게시글</h1>
    <div class="mb-2 row">
    <div class="col-8 col-md-6 col-lg-4">
        <form name="frm" class="input-group" >
            <input name="word" class="form-control" placeholder="제목, 내용">
            <button class="btn btn-primary">검색</button>
        </form>
        </div>
    </div>
    <table id="tbl" class="table table-border table-hover"></table>
    <div class="text-center">
        <button id="prev" class="btn btn-link">이전</button>
        <span id="page_info" class="px-3">1/100</span>
        <button id="next" class="btn btn-link">다음</button>
    </div>
    <script id="temp" type="text/x-handlebars-template">
        <thead>
            <tr>
                <td>번호</td><td>제목</td><td>글쓴이</td><td>날짜</td>
            </tr>
        </thead>
        <tbody>
            {{#each .}}
            <tr>
                <td>{{ID}}</td><td>{{TITLE}}</td><td>{{SNAME}}</td><td>{{FMT_DATE}}</td>
            </tr>
            {{/each}}
        </tbody>
    </script>
</div>
<script>
    let page=1;
    let size=5;
    let word="";
    getList();

    $(frm).on("submit", function(e){
        e.preventDefault();
        word=$(frm.word).val();
        getList();
    });

    $("#next").on("click",function(){
        page++;
        getList();
    })
    $("#prev").on("click",function(){
        page--;
        getList();
    })
    function getList(){
        $.ajax({
            type:"get",
            url:"/posts/list.json",
            data:{page,size,word},
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp").html());
                $("#tbl").html(temp(data.list));

                const last = Math.ceil(data.count/size);
                $("#page_info").html(`${page}/${last}`);

                if(page==1){
                    $("#prev").attr("disabled",true);
                }else{
                    $("#prev").attr("disabled",false);
                }
                 if(page==last){
                    $("#next").attr("disabled",true);
                }else{
                    $("#next").attr("disabled",false);
                }
            }
        })
    }
</script>