<div class="my-5">
    <h1 class="text-center">게시글</h1>
    <table id="tbl" class="table table"></table>
    <script id="temp" type="text/x-handlebars-template">
        <tbody>
            {{#each .}}
            <tr>
                <td>{{ID}}</td>
                <td>{{TITLE}}</td>
                <td>{{SNAME}}{{WRITER}}</td>
                <td class="text-end">{{FMT_DATE}}</td>

            </tr>
            {{/each}}
        </tbody>
    </script>
</div>
<script>
    getList();
    function getList(){
        $.ajax({
            type:"get",
            url:"/board/list.json",
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp").html());
                $("#tbl").html(temp(data));
            }
        })
    }
</script>